
<div class="panelBar">
	<ul class="toolBar">
		<li><a class="add" href="@{add()}" target="dialog" title="新增角色" rel="role_add"><span>保存</span></a></li>
	</ul>
</div>

<div style="float:left; display:block; margin-top:10px; overflow:auto; width:265px; height:320px; border:solid 1px #CCC; line-height:21px; background:#FFF;">
<ul class="tree treeFolder treeCheck expand" oncheck="kkk">
	<li><a tname="name" tvalue="test1" checked="true">1111</a>
		<ul>
			<li><a tname="name" tvalue="value1">我的主页</a></li>
			<li><a tname="name" tvalue="value2">页面一</a></li>
			<li><a tname="name" tvalue="value3">替换页面一</a></li>
			<li><a tname="name" tvalue="value4">页面二</a></li>
			<li><a tname="name" tvalue="value5">页面三</a></li>
		</ul>
	</li>

	<li><a tname="name" tvalue="test1" checked="true">Test 1</a>
		<ul>
			<li><a tname="name" tvalue="test1.1" checked="true">Test 1.1</a></li>
			<li><a tname="name" tvalue="test1.1" checked="true">Test 1.1</a></li>
			<li><a tname="name" tvalue="test1.1" checked="true">Test 1.1</a></li>
			<li><a tname="name" tvalue="test1.1" checked="true">Test 1.1</a></li>
			<li><a tname="name" tvalue="test1.1" checked="true">Test 1.1</a></li>
		</ul>
	</li>
	<li><a tname="name" tvalue="test2" checked="true">Test 2</a></li>

</ul>

</div>