<div layoutH="11" style="float:left; display:block; overflow:auto; width:200px; border:solid 1px #CCC; line-height:21px; background:#fff">
<ul class="tree treeFolder">
<li><a href="javascript">实验室检测</a>
<ul>
<li><a href="demo/pagination/list1.html" target="ajax" rel="jbsxBox">尿检</a></li>
<li><a href="demo/pagination/list1.html" target="ajax" rel="jbsxBox">HIV检测</a></li>
<li><a href="demo/pagination/list1.html" target="ajax" rel="jbsxBox">HCV检测</a></li>
<li><a href="demo/pagination/list1.html" target="ajax" rel="jbsxBox">TB检测</a></li>
</ul>
</li>
</ul>
</div>